{:paths     ["src"]
 :deps      {;;;SOLVERS
             com.joptimizer/joptimizer        {:mvn/version "5.0.0"}

             ;;;COBYLA
             de.xypron.jcobyla/jcobyla        {:mvn/version "1.4"}

             ;;;for interpolation
             incanter/incanter-core           {:mvn/version "1.9.3"}

             ;;;BOOLEAN SATISFIABILITY PROBLEM
             org.ow2.sat4j/org.ow2.sat4j.core {:mvn/version "2.3.6"}
             org.ow2.sat4j/org.ow2.sat4j.pb   {:mvn/version "2.3.6"}

             ;;;PROVISDOM
             provisdom/apache-math            {:git/url "https://github.com/Provisdom/apache-math.git"
                                               :sha     "45f700c0eab534efbdfbd19d9670be23a37943b9"}
             provisdom/math                   {:git/url "https://github.com/Provisdom/math.git"
                                               :sha     "564f208441cd4cc4536ae69dbc4872040af05a2e"}
             provisdom/neanderthal-matrix     {:git/url "https://github.com/Provisdom/neanderthal-matrix.git"
                                               :sha     "f12dcc43073cdf9dc91e73707a1c8b82fb71eafd"}
             provisdom/utility-belt           {:git/url "https://github.com/Provisdom/utility-belt.git"
                                               :sha     "efdbcff8a2f15fe20d5b969655f19fbf7f42b680"}}
 :mvn/repos {"XypronRelease" {:url "https://rsync.xypron.de/repository"}}
 :aliases   {:dev             {:extra-paths ["siderail"]
                               :extra-deps  {ca.umontreal.iro.simul/ssj {:mvn/version "3.3.2"}
                                             metasoarous/oz             {:mvn/version "1.5.6"}}}
             :local           {:override-deps {provisdom/apache-math        {:local/root "../apache-math"}
                                               provisdom/math               {:local/root "../math"}
                                               provisdom/neanderthal-matrix {:local/root "../neanderthal-matrix"}
                                               provisdom/utility-belt       {:local/root "../utility-belt"}}}
             :test            {:extra-paths ["test"]
                               :extra-deps  {criterium/criterium    {:mvn/version "0.4.6"}
                                             orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                                             org.clojure/test.check {:mvn/version "1.1.1"}
                                             provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                                     :sha     "ec0b531bf0e5a8b5897a8dde332bd08d478578f4"}}}
             :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                            lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                               :main-opts  ["-m" "kaocha.runner"]}}}
